<h1>List Emails</h1>

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('success') %}
            <div style="max-width: 800px; border: 1px solid #333; padding: 5px; background-color: #eee;">
                <b>Success: </b> {{ msg }}
            </div><br />
        {% endfor %}
    </div>
{% endif %}

This page lists the emails available to the app and allows you to view html, txt versions and to test email sending.

<br /><br /><b>Emails:</b>
<style>
    td {
        margin: 5px;
        padding: 5px;
        background-color: #eee;
    }
</style>
<br /><br /><table style="" cellspacing="2">
    <tr>
        <td style="font-weight: bold;">Reference</td>
        <td style="font-weight: bold;">Subject</td>
        <td style="font-weight: bold;">Description</td>
        <td style="font-weight: bold;">View Template</td>
        <td style="font-weight: bold;">Send Email</td>
    </tr>
    {% for key,value in emailTemplateList %}
    <tr>
        <td>{{ value.reference }}</td>
        <td>{{ value.subject }}</td>
        <td>{{ value.description }}</td>
        <td>
            <a href="{{ path ('display_email_template', {'type': 'html', 'reference': value.reference}) }}">HTML</a> |
            <a href="{{ path ('display_email_template', {'type': 'txt', 'reference': value.reference}) }}">TXT</a>
        </td>
        <td  style="text-align: center">
            <a href="{{ path ('send_test_email', {'type': 'txt', 'reference': value.reference}) }}">Send</a>
        </td>
    </tr>
    {% endfor %}
</table>